<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkDir" value="C:\temp\work"/>
    
    <add key="Blender.Command" value="C:\Program Files\Blender Foundation\Blender\blender.exe"/>
    <add key="Blender.Arguments" value="-b noppa.blend -P render.py"/>
    <add key="Blender.port" value="18800"/>
    
    <add key="Tf.Command" value="C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\python.exe"/>
    <add key="Tf.Arguments" value="train.py"/>
    <add key="Tf.port" value="18801"/>
  </appSettings>
</configuration>